.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 94px;
}
.advantage {
  display: flex;
  margin: inherit;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-left: 0px;
  flex-wrap: wrap;
  @include tablet {
    margin-bottom: 45px;
  }
  @include phone {
    display: unset;
    margin-inline: 15px ;
  }
}

.advantages__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--second-white);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  @include tablet {
    width: 100%;
  }
  @include phone {
    width: 100%;
  }
}
.advantages__font {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 0;
  @include tablet {
    text-align: center;
  }
  @include phone {
    text-align: center;
  }
}
.advantages__text {
  color: var(--main-silver);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
  height: 75px;
  text-align: justify;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
  letter-spacing: 0.03em;
  margin-right: 0px;
  @include tablet {
    width: 100%;
  }
  @include phone {
    width: 100%;
  }
}
.test {
  width: calc((100% - 90px) / 4);
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include phone {
    width: 100%;
  }
}
