.header__menu {
  margin-right: 0;
  margin-left: auto;
  border: none;
  outline: none;
  background-color: inherit;
  padding: 0 0;
  width: 40px;
  height: 40px;
  @include tablet {
    display: none;
  }
}
.mobile-menu-btn__icon {
  width: 40px;
  height: 40px;
  fill: var(--main-black);
}
.mobile-menu-btn {
  background: none;
  border: none;
  box-shadow: none;
}

.menu-toggle {
  width: 40px;
height: 40px;
cursor: pointer;
padding: 0;
margin: 0;
border: 0;
background-color: var(--main-white);

}
.menu-toggle--icon {
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}
